@font-face {
    font-family: 'exmouth';
    src: url('exmouth_.ttf');
}

body {
    background-image: url('certtemplate.png');
    background-repeat: no-repeat;
    background-size: 2000px 1414px
}

#nameElement {
    position: absolute; 
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content
}